In [22]:
import pandas as pd

chemin_Buchanan = "./../data/dictionary/1757_Buchanan-J.csv"
df_Buchanan = pd.read_csv(chemin_Buchanan, sep=";")
df_Buchanan.head(10)

   nbSyll          pron origin warning remarques POS  lineId  pageId
0       3       aʹbăcus    NaN     NaN       NaN  n.     2.0      19
1       2        ăbăʹft    NaN     NaN       NaN  p.     3.0      19
2       3    ăbaiʹſănce     F.     NaN       NaN  n.     4.0      19
3       3      ābăʹndon     F.     NaN       NaN  v.     5.0      19
4       4    ābăʹndŏned    NaN     NaN       NaN  a.     6.0      19
5       2        ăbāsʹe     F.     NaN       NaN  v.     7.0      19
6       3  ăbāʹſ_e_ment     F.     NaN       NaN  n.     8.0      19
7       2        ăbăʹſh     F.     NaN       NaN  v.     9.0      19
8       2        ăbāʹte     F.     NaN       NaN  v.    10.0      19
9       3  ăbāʹt_e_ment     F.     NaN       NaN  n.    11.0      19

In [25]:
chemin_PronChar = "./../data/dictionary/Buchanan_PronChar_counts.csv" 
df_PronChar = pd.read_csv(chemin_PronChar, sep=";")
print("Max nb value", df_PronChar['char'].value_counts().max())
df_PronChar["graph"] = df_PronChar["graph"].fillna("")
df_PronChar

Max nb value 1

   char    occ graph
0     a   3207     a
1     ʹ  12725
2     b   2288     b
3     ă   4533     a
4     c   5500     c
..  ...    ...   ...
68    á      1     a
69    I      1     l
70    х      2     x
71    р      1     p
72    ï      1     i

[73 rows x 3 columns]

In [15]:
def split_pron(pron, df_PronChar):
    df_PronChar
    
    message = ""
    for value in pron:
        res = df_PronChar.graph[df_PronChar['char']==value].values[0]
        message+=str(res)
    return message

In [16]:
df_Buchanan['pron'].head(10).apply(lambda x: split_pron(x, df_PronChar))

0       abacus
1        abaft
2    abaisance
3      abandon
4    abandoned
5        abase
6    abasement
7        abash
8        abate
9    abatement
Name: pron, dtype: object

In [17]:
df_Buchanan['motVedette '] = df_Buchanan['pron'].apply(lambda x: split_pron(x, df_PronChar))

In [18]:
df_Buchanan

,nbSyll,pron,origin,warning,remarques,POS,lineId,pageId,motVedette
0,3,aʹbăcus,NaN,NaN,NaN,n.,2.0,19,abacus
1,2,ăbăʹft,NaN,NaN,NaN,p.,3.0,19,abaft
2,3,ăbaiʹſănce,F.,NaN,NaN,n.,4.0,19,abaisance
3,3,ābăʹndon,F.,NaN,NaN,v.,5.0,19,abandon
4,4,ābăʹndŏned,NaN,NaN,NaN,a.,6.0,19,abandoned
...,...,...,...,...,...,...,...,...,...
15795,4,zōŏʹgrăphy,G.,NaN,NaN,n.,19.0,241,zoography
15796,4,zōŏʹphytès,G.,NaN,NaN,n.,20.0,241,zoophytes
15797,4,zōŏʹphŏric,G.,NaN,NaN,n.,21.0,241,zoophoric
15798,4,zōŏʹtŏmiſt,G.,NaN,NaN,n.,22.0,241,zootomist
15799,3,zŏʹtĭcā,G.,NaN,NaN,n.,23.0,241,zotica

In [20]:
df_Buchanan.to_csv("./../data/dictionary/BuchananRich.csv", sep=";")